% start S

S[SEM=('KNOWLEDGE')] -> WH O
S[SEM=('SELECT * FROM transactions t inner join categories c on c.id=t.category_id ' + ?q)] -> HM[SEM=?q]

WH -> 'what' 'is'
O -> 'a' 'cd'

HM[SEM=(?q + ' COLLATE NOCASE;')] -> SPENT Q[SEM=?q]
HM[SEM=''] -> SPENT

SPENT -> SQ TENSW 'i' SPV
SQ -> 'how' 'much' 'money'
SQ -> 'how' 'much'
SQ -> 'what'
TENSW -> 'have'
TENSW -> 'did'
TENSW -> 'will'
TENSW -> 'do'
SPV -> 'spent'
SPV -> 'spend'


Q[SEM=(' WHERE' + ?q)] -> 'on' TAGLIST[SEM=?q]

TAGLIST[SEM=(' c.title like ' + ?a)] -> TAG[NAM=?a]
TAGLIST[SEM=(?a + ' OR category like ' + ?b)] -> TAGLIST[SEM=?a] TAG[NAM=?b]
TAGLIST[SEM=(?a + ' OR category like ' + ?b)] -> TAGLIST[SEM=?a] 'and' TAG[NAM=?b]

{% for cat in categories %}
    TAG[NAM='"%{{ cat }}%"'] -> '{{ cat }}'
{% endfor %}
