{% extends "navbarbase.html" %}
{% block navcontent %}
<form action="/" method="POST">
	<div flex layout="column" >
		<div flex="20">
			<div id = "box" flex layout="row"  layout-align="center center" flex-order="0">
				<md-input-container flex="33" id="damn" flex-order="1">
				<label>What do you want to know</label>
				<input name="question" type="text">
				</md-input-container>

				<md-button type="submit" class="md-raised" flex-order="2">Submit</md-button>
			</div>
		</div>
		<div flex>
            {{ resp_data }}
		</div>
	</div>

</form>

{% endblock %}
