{% extends "navbarbase.html" %}
{% block navcontent %}
<div ng-controller='AppCtrl'>
	<div flex layout="column" >
		<div flex="20">
			<div id = "box" flex layout="row"  layout-align="center center" flex-order="0">
				<md-input-container flex="33" id="damn" flex-order="1">
				<label>What do you want to know</label>
                <input ng-model="question" name="question" type="text">
				</md-input-container>

                <md-button class="md-raised" flex-order="2" ng-click='request()'>Search</md-button>
			</div>
		</div>
		<div flex>
            {{ resp_data }}
		</div>
	</div>
    <div layout="column" layout-align='center center' layout-wrap>
        <awesome-graph data="data"></awesome-graph>
<splainin-box data="data"></splainin-box>
    </div>
</div>
{% endblock %}
